* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #000;
}

body {
    font: 1rem/1.5 'Fira Sans', sans-serif;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    width: 600px;
}

.c:after {
    content: '';
    clear: both;
}

.axis {
    float: left;
    height: 200px;
    margin: 60px auto;
    position: relative;
    text-align: center;
    width: 300px;
}

button {
    font-family: inherit;
}

.direction {
    border: 0;
    padding: 5px 15px;
    position: absolute;
}

.direction--up {
    top: 0;
}

.direction--down {
    bottom: 0;
}

.direction--left,
.direction--right {
    top: 42%;
}

.direction--left {
    left: 10%;
}

.direction--right {
    right: 10%;
}

#t {
    background: #000;
    width: 100%;
    height: 100%;
}
