* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    height: 100%;
}

#out {
    color: #fff;
    font-size: 4em;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}

.pad {
    flex: 1;
    height: 100%;
    position: absolute;
    top: 0;
    width: 50%;
}

.pad-container {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.pad--move {
    left: 0;
}

.pad--aim {
    right: 0;
}

#debug {
    background: red;
    opacity: .6;
    pointer-events: null;
    color: #fff;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    max-height: 50%;
}
